body {
    font-size: 20px;
}

#myCalc {
    display: flex;
    width: 400px;
    flex-direction: column;
    margin: 40px auto;
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #7103d8;
}

.operation {
    display: flex;
    flex-direction: column;
    margin: 40px auto 0px auto;
    padding: 20px;
}

select, input {
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #7103d8;
    padding: 20px;
}

.output, h1 {
    margin-top: 40px;
    color: #7103d8;
    font-size: 30px;
    text-align: center;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 20px;
}

button:hover {
    background-color: #7103d8;
    border: 1px solid #7103d8;
    cursor: pointer;
}

.button-wrap {
    display: flex;
    justify-content: center;
}