/* global */

html,
body {
  height: 100%;
  overflow-x: hidden;
  padding-left: calc(100vw - 100%);
}

:root {
  /* main color pallette */
  --primary-light: #eeebe6ff;
  --primary-accent-light: #d1cbc3ff;
  --primary-accent-mid: #b5a183ff;
  --primary-accent-dark: #987743ff;
  --primary-dark: #26272eff;

  /* extended color palette*/
  --pill-location: #4a4c34;
  --pill-gift: #616784;
  --pill-inherited: #30444a;
  --pill-nature: #987743;
  --pill-novelty: #2b535f;
  --pill-ornate: #4a2a2c;
  --pill-pop: #24392f;
  --pill-purchased: #645346;
  --pill-tarot: #5f342b;
  --pill-travel: #282b3d;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.05em;
  background-color: var(--primary-light);
  color: var(--primary-dark);
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

/* typography */

h1,
h2,
h3,
h4,
p,
nav,
.tags {
  color: var(--primary-dark);
}

h1 {
  font-family: "Bookmania";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  letter-spacing: 0.02em;
  margin: 0;
  line-height: 1;
  font-style: normal;
}

h2 {
  font-family: "Bookmania";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  margin: 0;
}

h3 {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  margin: 0;
}

h4 {
  font-family: "Bookmania";
  font-style: italic;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 0.02em;
  margin: 0;
}

p {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
}

.tags {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0.4em;
  line-height: 1;
  text-transform: uppercase;
}

.carousel__home {
  text-align: center;
  margin-bottom: 20px;
}

/* nav */

nav {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid;
  border-color: var(--primary-dark);
}

.nav__container {
  width: 90%;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__container a {
  text-decoration: none;
}

.nav__header {
  text-align: left;
  font-size: 36px;
  font-family: "Bookmania";
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.02em;
  margin: 0;
  line-height: 1;
  transition: 0.8s ease;
}

.nav__header:hover {
  color: var(--primary-accent-dark);
}

.nav-links,
.nav-links a {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.3em;
  line-height: 1.75;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
  text-decoration: none;
  color: var(--primary-accent-dark);
  transition: 0.8s ease;
}

.nav-links:hover,
.nav-links a:hover {
    letter-spacing: 0.35em;
    color: var(--primary-accent-light);
}

/* home */

.home__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.home__header {
  color: #eee6e0;
  font-size: 60px;
  font-family: broadsheet, serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

/* deck */

.deck-name,
.carousel-name {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.deck-row__grid a,
.deck-carousel__grid a {
  text-decoration: none;
  color: var(--primary-dark);
}

.deck-row__container {
  margin: 0 auto;
  padding-top: 5%;
}

.deck-carousel__container {
  margin: 0 auto;
}

.deck-row__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  grid-auto-flow: row;
  justify-content: space-evenly;
  grid-gap: 60px 20px;
  margin-bottom: 40px;
}

.deck-carousel__grid {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 20px;
}

.deck-row,
.carousel-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  opacity: 1;
  transition: 0.8s ease;
}

.deck-row:hover,
.carousel-row:hover {
  opacity: 0.5;
}

.deck-row img {
  max-height: 230px;
}

.carousel-row img {
  max-height: 330px;
}

/* detail */

.deck-detail__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 0 50px;
}

.deck-detail__img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 320px;
  gap: 20px;
}

.deck-detail__img img {
  max-height: 320px;
}

.deck-detail__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 20px 0;
  margin-top: 40px;
  width: 50%;
}

/* about */

.about__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 0 50px;
}

.about__img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 420px;
  gap: 20px;
}

.about__img img {
  max-height: 420px;
}

.about__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 20px 0;
  margin-top: 40px;
  width: 50%;
}

/* ----- type pills ----- */

.pill__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

/* base pill */

.pill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 8px 14px 8px 20px;
  border-radius: 35px;
  border: 0px solid;
  color: var(--primary-dark);
}

/* location pills */

.location {
  color: var(--primary-light);
  background-color: var(--pill-location);
}

/* theme pills */

.nature {
  color: var(--primary-light);
  background-color: var(--pill-nature);
}

.novelty {
  color: var(--primary-light);
  background-color: var(--pill-novelty);
}

.ornate {
  color: var(--primary-light);
  background-color: var(--pill-ornate);
}

.popCulture {
  color: var(--primary-light);
  background-color: var(--pill-pop);
}

.travel {
  color: var(--primary-light);
  background-color: var(--pill-travel);
}

.tarot {
  color: var(--primary-light);
  background-color: var(--pill-tarot);
}

/* aquisition pills */

.gift {
  color: var(--primary-light);
  background-color: var(--pill-gift);
}

.purchased {
  color: var(--primary-light);
  background-color: var(--pill-purchased);
}

.inherited {
  color: var(--primary-light);
  background-color: var(--pill-inherited);
}

/* sort & filter */

.sort__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 60px 0px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: 0px solid;
  cursor: pointer;
  opacity: 1;
  transition: 0.8s ease;
}

.btn__sort {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.btn__text {
  padding: 8px 12px 8px 18px;
  border-radius: 35px;
  color: var(--primary-light);
}

.btn__arrow {
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

.btn:hover {
  opacity: 0.5;
}

/* carousel */

.carousel {
  width: 85%;
}

.carousel__icon {
  fill: var(--primary-accent-dark);
}

.carousel__viewport {
  padding: 40px 0px 0px 0px;
}

.carousel__item {
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 10px;
  width: 200px;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 0px solid white;
  background-color: transparent;
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid;
  border-color: var(--primary-dark);
  padding: 20px 20px;
  align-self: center;
  width: 100%;
}

/* @media's */

@media screen and (max-width: 1400px) {
  .carousel {
    width: 100%;
  }
  .deck-name {
    font-size: 16px;
    line-height: 150%;
  }
  .deck-row img {
    max-height: 180px;
  }
  .tags {
    font-size: 8px;
  }
  .deck-detail__body {
    width: 100%;
    margin-bottom: 40px;
    order: 2;
  }
  .deck-detail__img {
    margin-top: 60px;
    order: 1;
  }
  .deck-detail__container h1 {
    margin-top: 0px;
  }
  .about__body {
    width: 100%;
    margin-bottom: 40px;
    order: 2;
  }
  .about__img {
    margin-top: 60px;
    order: 1;
  }
  .about__container h1 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1100px) {
  .carousel-row img {
    max-height: 300px;
  }
  .pill__container {
    gap: 10px;
  }
  .sort__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0px 60px 0px;
  }
}

@media screen and (max-width: 900px) {
  .deck-row__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .nav__header {
    font-size: 32px;
  }
  .nav-links,
  .nav-links a {
    font-size: 14px;
  }
  h1 {
    font-size: 48px;
    margin-top: 40px;
  }
  .deck-row img {
    max-height: 240px;
  }
  .pill__container {
    gap: 5px;
  }
  .carousel-row img {
    max-height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .deck-row__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .nav__header {
    font-size: 32px;
  }
  .nav-links,
  .nav-links a {
    font-size: 12px;
    gap: 0 10px;
    letter-spacing: 0.3em;
  }
  h1 {
    font-size: 48px;
    margin-top: 40px;
  }
  .deck-row img {
    max-height: 270px;
  }
  .deck-detail__img {
    max-height: 250px;
  }
  
  .deck-detail__img img {
    max-height: 250px;
  }
  .nav__header {
    font-size: 36px;
  }
  .nav__container {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .about__img {
    max-height: max-content;
    max-width: 100%;
  }

  .about__img img {
    max-height: max-content;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .deck-detail__img {
    max-height: 190px;
  }
  
  .deck-detail__img img {
    max-height: 190px;
  }
  h1 {
    font-size: 40px;
  }
  h4 {
    font-size: 24px;
  }
}

